@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    color: #ff5733;
    background-color: #222;
    height: 100vh;
    transition: background-color 0.3 ease;
}
header {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 7px solid #ff5733;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.1em;
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 0.5em;
}
.number {
  background: #ff5733;
  color: #ffffff;
  font-size: 3rem;
  width: 8rem;
  padding: 1rem 0rem;
  text-align: center;
}
main {
  color: #cd5d46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.between {
  font-size: 1rem;
  padding-bottom: 1em;
}
.guess {
  background: none;
  border: 4px solid #ff5733;
  font-family: inherit;
  color: #ffffff;
  font-size: 5rem;
  padding: 1rem;
  width: 20rem;
  text-align: center;
  display: block;
}
.btn {
  border: none;
  background-color: #ff5733;
  color: #ffff;
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem 3rem;
  margin-top: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: #ff3333;
}
.btn:active {
  transform: translateY(4px); /* Button "clicks" down */
  box-shadow: none;
}
.message {
  margin: 1rem 0;
  height: fit-content;
  background-color: #ff5722;
  width: fit-content;
  text-align: center;
  padding: 10px;
  border: 1px solid #e65100;
  color: aliceblue;
}
#showScore {
    font-size: 1rem;
    margin-top: 10px;
}